.header {
  width: 100%;
  background-color: #232a31;

  padding: 10px 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50px;
}

.navbar-items {
  list-style: none;

  display: flex;
  align-items: center;

  gap: 16px;
}

.navbar-items li a {
  color: #eeee;

  text-transform: uppercase;
}

#login-btn {
  background-color: #2c2fc7;
  color: #fff;

  border-radius: 4px;

  padding: 16px 20px;
}

.banner{
  background-image: url("../img/PAISA.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 12px;
}

.banner h1,
.banner strong{
  color: #fff;
  text-align: center;
}
.banner h1{
  font-size: 50px;
}
.banner strong{
font-size: 20px;
}

.beneficios{
  color: black;
  text-align: center;
  display: flex;
  justify-content: space-around ;
  list-style: none;

  padding: 150px;
  gap: 20px 26px;
}
.beneficios li {
  text-align: center;
  max-width: 200px;
}
.beneficios li img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
  
}

.cards {
  display: flex;
  flex-direction: column;

  gap: 48px;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
}

.cards-title-description {
  text-align: center;
}

.cards-title-description h3 {
  font-size: 36px;
  margin-bottom: 4px;
}

.cards-title-description p {
  font-size: 20px;
}

.cards ul {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;

  gap: 32px;
}

.card {
  height: 250px;
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #fafafa;
}

.card header {
  padding: 8px 16px;
  background-color: #c7362c;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.price {
  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #232a31;

  margin-top: -40px;

  border-radius: 50%;
}

.price strong {
  color: #ffffff;
}

.card footer {
  width: 100%;
}

.card footer button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 16px;

  background-color: #432cc7;
  color: #ffffff;

  text-transform: uppercase;
  font-weight: bold;

  width: 100%;
}

.searchdomain-container {
  background-color: #34454e;
  text-align: center;
  padding: 5em 0;
}

.searchdomain-container h2 {
  color: #fff;
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 15px;
}

.searchdomain-container p {
  color: #d5d5d5;
  font-size: 24px;
  margin-bottom: 25px;
}

.searchdomain-container input {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
}

.searchdomain-container input[type="text"] {
  margin-bottom: 25px;
  width: 60%;
  padding: 20px;
  font-size: 20px;
}

.searchdomain-container input[type="submit"] {
  background-color: #2cc76a;
  padding: 15px 30px;
  color: #fff;
  font-size: 24px;
}

/* contato */

.contact-container {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 2em;
}

.contact-container h2 {
  font-size: 36px;
}

.contact-container p {
  font-size: 20px;
  margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea {
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.contact-container textarea {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 468px;
  height: 150px;
}

.contact-container input[type="submit"] {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #2cc76a;
  color: #fff;
}

/* footer */

footer {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

/* media queries */

@media screen and (max-width: 1100px) {
  .plans-container {
    width: 95%;
  }

  .plan {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 900px) {

  .plans-container,
  .specialties-container ul {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  .navbar-items li {
    font-size: 12px;
    margin-left: 10px;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .plan {
    max-width: 100%;
  }

  .searchdomain-container {
    padding: 3em 2em;
  }

  .container .searchdomain-container input {
    width: 100%;
    box-sizing: border-box;
  }

  .contact-container {
    padding: 3em 2em;
  }

  .contact-container input,
  .contact-container textarea {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
  }
}